$color-bg: #4c518f;
$color-surface: #788c98;
$color-accent: #4f46e5;
$color-accent-soft: rgba(14, 12, 85, 0.2);
$color-text-main: #bac042;
$color-text-muted: #838892;

$radius-lg: 1rem;
$shadow-soft: 0 10px 30px rgba(193, 151, 151, 0.4);

$font-main: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", sans-serif;